body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
}

header {
    width: 100%;
    height: 60px;
}

li {
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu-icon {
    justify-content: center;
    align-items: center;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding-left: 0;
    text-align: center;
}

header ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

header nav nav.navegation-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .navegation-right-section a{
    margin: 10px;
    color: black;
}

 nav .navegation-right-section .button-acceder {
     cursor: pointer;
     text-decoration: none;
     background: white;
     border: 2px solid blue;
     font-family: Helvetica, Arial, sans-serif;
     text-align: center;
     font-size: 13px;
     padding: 9px 10px;
     border-radius: 4px;
 }
nav .navegation-right-section .menu-icon {
    background-image: url("apps.png");
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-right: 20px;
    width: 25px;
    height: 25px;
}

main {
    margin-top: 150px;
    text-align: center;
}
main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo {
    width: 300px;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 dimgrey;
}

main .main-input .search-icon {
    background-image: url("search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

main .main-input .micro-icon {
    background-image: url("micro.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

main .main-buttons{
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: dimgrey;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}
main .main-buttons button:hover {
    border: 1px #c6c6c6;
    box-shadow: 0 1px 1px #000001;
    color: #222;
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left {
    justify-self: left;
}

footer .footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 10px;
    color: #5f6368;
}